:root {
    --Blue-950: hsl(256, 26%, 20%);
    --Blue-500: hsl(216, 30%, 68%);

    /* ### Neutral */

    --Gray-950: hsl(270, 9%, 17%);
    --Gray-700: hsl(273, 4%, 51%);
    --Gray-50: hsl(0, 0%, 98%);

    --container-width-sm: 80%;
    --container-width-sm: 90%;
}

@layer fonts {
    @font-face {
        font-family: dm-serif-regular;
        src: url(/fonts/DMSerifDisplay-Regular.ttf);
    }
    @font-face {
        font-family: karla-medium;
        src: url(/fonts/Karla-Medium.ttf);
    }

    @font-face {
        font-family: karla-regular;
        src: url(/fonts/Karla-Regular.ttf);
    }
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background: var(--Gray-50);
    color: var(--Gray-50);
    line-height: 1.6;
}

.container {
    width: var(--container-width-sm);
    margin: 0 auto;
}

.hidden {
    display: none;
}

img {
    /* width: 100%; */
    object-fit: contain;
}

h1 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
    line-height: 1.1em;
    font-family: dm-serif-regular;
    font-weight: 400;
}

p {
    font-size: 1rem;
    font-family: karla-regular;
    line-height: 1.6em;
    color: var(--Gray-50);
}

h3 {
    font-size: 2rem;
    font-family: dm-serif-regular;
    font-weight: 400;
}

h2{
font-size: 2.5rem;
    font-family: dm-serif-regular;
    font-weight: 400;
    line-height: 1.1em;
}

h4{
font-family: karla-medium;
 
 color: var(--Gray-700);
}

a {
    color: var(--Gray-50);
    font-family: karla-medium;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.btn {
    padding: 0.5rem 2rem;
    color: var(--Gray-50);
    border: 2px solid var(--Gray-50);
    /* width: fit-content; */
    text-transform: uppercase;
}

.logo {
    width: min-content;
    height: min-content;
}

nav {
    background: var(--Gray-50);
    width: 100%;
    position: fixed;
    top: 0;
}

.nav__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    /* padding: 2rem; */
}

.nav__menu {
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background: var(--Blue-950);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-transform: uppercase;
    display: none;
}

.nav__link{
    width: 70%;
}

header {
    background: var(--Blue-950);
    margin-top: 6rem;
}

header img {
    width: 100%;
}

.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: var(--Gray-50);
    text-align: center;
    padding: 5rem 0;
}

/* ABOUT SECTI0N */
.abouts {
    padding: 3rem 0;
    text-align: center;
}

.abouts p {
    color: var(--Gray-700);
}

.abouts h1,
h3 {
    color: var(--Gray-950);
}

.abouts hr {
    width: 30%;
    justify-self: center;
    margin: 3rem 0;
    border: 1px solid var(--Blue-500);
}

.about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    img {
        width: fit-content;
    }
}

.abouts__container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}



/* find__out */
.find__out{
    background: var(--Blue-950);
    /* padding: 3rem 2rem; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    text-align: center;
}



/* FOOTER */

footer{
    margin-top: 6rem;
    text-align: center;
    color: var(--Gray-950);
}

.footer__socials{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}


footer hr{
    margin: 2rem 0;    
    border: 1px solid #D4D5D80;

}

.footer__tittle{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    font-size: 1rem;
}

.footer__links{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footer__link{
    color: var(--Gray-950);
    font-weight: 700;
    font-size: .825rem;
}

.footer{
    margin: 2rem 0;
    
}


/* 
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
} */

.header__wrapper{
    background-image: url(/images/bg-pattern-intro-left-mobile.svg);
    background-position: top left;
    background-repeat: no-repeat;
}

@media screen and (min-width: 45rem) {
    .nav__menu{
        /* width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        top: 0;
        
        color: var(--Blue-500); */
        display: flex;
        flex-direction: row;
        top: 0;
        position: inherit;
        height: fit-content;
        background: none;
    }
    
    .toggle__menu{
        display: none;
    }
    
    .nav__link a {
    color: var(--Blue-500);
}
}