:root {
    --Blue-950: hsl(256, 26%, 20%);
    --Blue-500: hsl(216, 30%, 68%);

    /* ### Neutral */

    --Gray-950: hsl(270, 9%, 17%);
    --Gray-700: hsl(273, 4%, 51%);
    --Gray-50: hsl(0, 0%, 98%);

    --container-width-sm: 80%;
    --container-width-sm: 90%;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    color: var(--Gray-50);
    line-height: 1.6;
}

.container {
    width: var(--container-width-sm);
    margin: 0 auto;
}

.hidden {
    display: none;
}

img {
    /* width: 100%; */
    object-fit: contain;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.1em;
}

p {
    font-size: 1rem;
}

h3 {
    font-size: 2rem;
}

a {
    color: var(--Gray-50);
}

.btn {
    padding: 0.5rem 2rem;
    color: var(--Gray-50);
    border: 2px solid var(--Gray-50);
    /* width: fit-content; */
    text-transform: uppercase;
}

.logo {
    width: min-content;
    height: min-content;
}

nav {
    background: var(--Gray-50);
    width: 100%;
    position: fixed;
}

.nav__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    /* padding: 2rem; */
}

.nav__menu {
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background: var(--Blue-950);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-transform: uppercase;
    display: none;
}

.nav__menu::nth-last-child {
    background: orangered;
}

header {
    background: var(--Blue-950);
}

header img {
    width: 100%;
}

.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: var(--Gray-50);
    text-align: center;
    padding: 5rem 0;
}

/* ABOUT SECTI0N */
.abouts {
    padding: 3rem 0;
    text-align: center;
}

.abouts p {
    color: var(--Gray-700);
}

.abouts h1,
h3 {
    color: var(--Gray-950);
}

.abouts hr {
    width: 30%;
    justify-self: center;
    margin: 3rem 0;
    color: var(--Blue-500);
}

.about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    img {
        width: fit-content;
    }
}

.abouts__container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

/* 
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
} */
