:root {
    --Blue-950: hsl(256, 26%, 20%);
    --Blue-500: hsl(216, 30%, 68%);

    /* ### Neutral */

    --Gray-950: hsl(270, 9%, 17%);
    --Gray-700: hsl(273, 4%, 51%);
    --Gray-50: hsl(0, 0%, 98%);

    --container-width-sm: 80%;
    --container-width-sm: 90%;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    color: var(--Gray-50);
    line-height: 1.6;
}

.container {
    width: var(--container-width-sm);
    margin: 0 auto;
}

.hidden {
    display: none;
}

img {
    /* width: 100%; */
    object-fit: contain;
}

h1{
  font-size: 3rem;
  line-height: 1.1em;
}

.btn{
  padding: .5rem 2rem;
  color: var(--Gray-50);
  border: 2px solid var(--Gray-50);
  width: fit-content;
  text-transform: uppercase;
}

.logo {
    width: min-content;
    height: min-content;
}

nav {
    background: var(--Gray-50);
    width: 100%;
}

.nav__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    /* padding: 2rem; */
}

header {
    background: var(--Blue-950);
}

header img {
    width: 100%;
}


.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: var(--Gray-50);
    text-align: center;
    padding: 5rem 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
